{% load staticfiles %}
{% load django_tables2 %}
{% load i18n %}
{% block table-wrapper %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/main.css' %}" />
    

    <title>MiniApp</title>
  </head>
  <body>
        <div class="jumbotron jumbotron-fluid p-3 mb-2 bg-dark text-white">
            <div class="container">
                <h1 class="display-4">Biodata</h1>
                <p class="lead">A Django App that delivers data to the table from the database</p>
            </div>
        </div>

<div class="container">
  <h2>Users Info</h2>

  {% block table %}         
    <table class="table table-responsive" {% render_attrs table.attrs %}>
      {% block table.thead %}
      {% if table.show_header %}
        <thead {{ table.attrs.thead.as_html }}>
          <tr>
          
            <th {{ column.attrs.th.as_html }}>
            {{ column.header }}
              <h6><strong>Id</strong></h6>
            
            </th>

            <th {{ column.attrs.th.as_html }}>
            {{ column.header }}
              <h6><strong>Name</strong></h6>
            
            </th>

            <th {{ column.attrs.th.as_html }}>
            {{ column.header }}
              <h6><strong>Profession</strong></h6>
            </th>

            <th {{ column.attrs.th.as_html }}>
            {{ column.header }}
              <h6><strong>Location</strong></h6>
            </th>

            <th {{ column.attrs.th.as_html }}>
            {{ column.header }}
              <h6><strong>Email</strong></h6>
            </th>

            <th {{ column.attrs.th.as_html }}>
            {{ column.header }}
              <h6><strong>LinkedIn</strong></h6>
            </th>

            <th {{ column.attrs.th.as_html }}>
            {{ column.header }}
              <h6><strong>Twitter</strong></h6>
            </th>
          

        </tr>
      </thead>
    {% endif %}
    {% endblock table.thead %}
    
    {% block table.tbody %}
      <tbody {{ table.attrs.tbody.as_html }}>
      {% for row in table.paginated_rows %}
        {% block table.tbody.row %}
        <tr {{ row.attrs.as_html }}>
          {% for column, cell in row.items %}
          
            <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
           
          {% endfor %}
        </tr>
      {% endblock table.tbody.row %}
    {% endfor %} 
    </tbody>
    {% endblock table.tbody %}

    </table>
  {% endblock %}
</div>
{% endblock table-wrapper %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>